ul#accordionSidebar li > a {
    color: white;
}

.merchant-kyc {
    padding-left:40px;
    margin-top: 20px;
}

.merchant-kyc-table {
    width:210%;
    
}

.headingRow {
  background-color: #858796;
  color: #ffffff;
}


.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #00008B;
  }
  
  .nav-tabs li {
    float: left;
  }
  
  .nav-tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-tabs li a:hover:not(.active) {
    background-color: #111;
  }
  
  .nav-tabs .active {
    background-color: #4e73df;
  }

  #profile_table td .gap {
    padding-left: 230px;
  }