/**
 * Theme colors
 * Orange: #F69321;
 * Blue #25A8E0;
 * */
ul#accordionSidebar li > a {
    color: white;
}

.merchant-kyc {
    padding-left:40px;
    margin-top: 20px;
}

.merchant-kyc-table {
    width:210%;
    
}

.headingRow {
  background-color: #858796;
  color: #ffffff;
}


.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #00008B;
  }
  
  .nav-tabs li {
    float: left;
  }
  
  .nav-tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-tabs li a:hover:not(.active) {
    background-color: #111;
  }
  
  .nav-tabs .active {
    background-color: #4e73df;
  }

  #profile_table td .gap {
    padding-left: 230px;
  }


  .Button--primary{
    background-color: #528ff0;
    color: #fff;
    border: #347ced;
    
  }

  .Button {
    color: #414141;
    padding: 10px 20px;
    line-height: 16px;
    border-radius: 2px;
    border: 1px solid #e6e7e8;
    outline: none;
    transition: .15s,.3s border;
  }

  ul#accordionSidebar li.nav-item  a:hover {
      background: #F69321 !important;
      color: white !important;
  }

    ul#accordionSidebar li.nav-item  a.active {
      background: #F69321 !important;
      color: white !important;
  }

/*dashboard tab style**/
.nav-tabs {
    background-color: #25A8E0;
}
.nav-tabs .active {
    background-color: #F69321;
}

ul.nav-tabs li a:hover {
    background: #F69321 !important;
}

ul.navbar-nav.sidebar.accordion{
  /*background-color: #25A8E0; */
  background-color: #3440BA; 
}

/**main munu font size*/
.sidebar .nav-item .nav-link span{
  font-size: 1.02rem;
}

ul.navbar-nav.sidebar.accordion {
    position: sticky;
    z-index: 99999;
    height: 100vh;
    top: 0 !important;
}

.sidebar-menu-scroll{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-menu-scroll::-webkit-scrollbar {
    width: 12px;
}

.sidebar-menu-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.sidebar-menu-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.m-b-1{
  margin-bottom: 1px;
}
.m-b-2{
  margin-bottom: 2px;
}
.m-b-3{
  margin-bottom: 3px;
}
.m-b-4{
  margin-bottom: 4px;
}
.m-b-5{
  margin-bottom: 5px;
}
.m-b-6{
  margin-bottom: 6px;
}
.m-b-7{
  margin-bottom: 7px;
}
.m-b-8{
  margin-bottom: 8px;
}
.m-b-9{
  margin-bottom: 9px;
}
.m-b-10{
  margin-bottom: 10px;
}

.table tr:hover {
    /*background: #25a8e052 !important;*/
    background: #f4ca9a !important;
  /*  color: white !important; */
}

nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow {
    background-color: #3440ba !important;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%) !important;
    border: 1px solid;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 14%);
}

img.close-icon {
    width: 30px;
    cursor: pointer;
}

.daterangepicker .ranges li{
    font-size: 1rem !important;
    font-weight: 400;
    color: #6e707e;
}

.daterangepicker .ranges li:hover{
  background-color: #08c !important;
  color: #fff !important;
}